--swift-version 6.2
--max-width 80
--indent 2
--semicolons never
--trailing-commas collections-only
--extension-acl on-declarations
--import-grouping testable-last
--pattern-let hoist
--ranges no-space
--else-position same-line
--guard-else auto
--closing-paren balanced
--wrap-conditions after-first
--wrap-arguments preserve
--wrap-parameters preserve
--wrap-collections preserve
--func-attributes preserve
--type-attributes preserve
--stored-var-attributes preserve
--computed-var-attributes preserve
--complex-attributes preserve
--strip-unused-args closure-only
--header ignore
--indent-strings false
--exclude **/.build,**/Derived,Tuist/.build
--self remove
--disable docComments,hoistTry,hoistAwait,swiftTestingTestCaseNames,fileHeader,wrapPropertyBodies,wrapFunctionBodies,wrapIfStatementBodies,wrapIfExpressionBodies,wrapLoopBodies,wrapSingleLineComments
